@import "variables";

@media (max-width: 320px) {
    .phone-h {
        text-align: left;
        text-decoration: none;
        font-size: 12px;
    }

    .b-soclial {
        text-align: center;
    }

    .mm-listitem__text {
        font-size: 9px;
    }

    .welcome {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 8px;
        }
    }
    .s-king {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .article-container .h2 {
        font-size: 25px;
    }

    .button {
        padding: 14px 43px;
        font-size: 11px;
    }

    .cal-back h3 {
        font-size: 29px;
    }

    .s-reviews .h2 {
        font-size: 20px;

        .span-desc {
            font-size: inherit;
        }
    }

    .review-header {
        font-size: 28px;
    }

    .call-back {
        .h3 {
            font-size: 29px;
        }
    }
}

@media (max-width: 480px) {
    .main-footer {
        .owl-nav {
            .owl-prev {
                right: -60px;
            }

            .owl-next {
                left: -60px;
            }
        }
    }

    .welcome {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 8px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .welcome {
        h1 {
            font-size: 42px;
        }

        p {
            font-size: 14px;
        }

    }

    .mm-listitem__text {
        font-size: 16px;
    }

    .owl-nav {
        top: 0;
    }


    .s-partners {
        .partners {
            .owl-item {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .footer-menu {
        padding: 0 0;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .phone-h {
        .icon {
            text-align: left;
        }
    }

    .welcome {
        h1 {
            font-size: 44px;
        }

        p {
            font-size: 12px;
        }
    }

    .mm-listitem__text {
        font-size: 16px;
    }

    .reviews {

        &::before,
        &::after {
            content: '';
        }
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .phone-h {
        text-align: left;
    }

    .welcome {
        h1 {
            font-size: 48px;
        }
    }

    .mm-listitem__text {
        font-size: 16px;
    }

    .s-call {
        background-size: cover;

        &::before {
            width: 100%;
        }

        .call-back {
            padding: 12% 0;
        }
    }

    .reviews {
        &::after {
            top: 42%;
        }
    }

    .footer-column .social ul a {
        margin-top: 18px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .welcome {
        h1 {
            font-size: 64px;
        }
    }

    .mm-listitem__text {
        font-size: 16px;
    }

    .container-contacts {
        font-size: 15px;
    }

    .carousel-services-item {
        flex-direction: column;
    }
}