@import "variables";

@media (max-width: 320px) {
    .phone-h {
        text-align: left;
        text-decoration: none;
        font-size: 12px;
    }

    .mm-listitem__text {
        font-size: 9px;
    }

    .welcome {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 8px;
        }
    }

    .button {
        padding: 14px 43px;
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    .owl-nav {
        top: 0;
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
    .welcome {
        h1 {
            font-size: 28px;
        }

        p {
            font-size: 8px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .welcome {
        h1 {
            font-size: 42px;
        }

        p {
            font-size: 14px;
        }

    }

    .mm-listitem__text {
        font-size: 16px;
    }
    .owl-nav {
        top: 0;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .phone-h {
        .icon {
            text-align: left;
        }
    }

    .welcome {
        h1 {
            font-size: 44px;
        }

        p {
            font-size: 12px;
        }
    }

    .mm-listitem__text {
        font-size: 16px;
    }

    .reviews {
        &::before, &::after {
            content: '';
        }
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .phone-h {
        text-align: left;
    }

    .welcome {
        h1 {
            font-size: 48px;
        }
    }

    .mm-listitem__text {
        font-size: 16px;
    }

    .s-call {
        background-size: cover;
        &::before {
            width: 100%;
        }
        .call-back {
            padding: 12% 0;
        }
    }

    .reviews {
        &::after {
            top: 42%;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .welcome {
        h1 {
            font-size: 64px;
        }
    }

    .mm-listitem__text {
        font-size: 16px;
    }

    .container-contacts {
        font-size: 15px;
    }

    .carousel-services-item {
        flex-direction: column;
    }
}