$def-font: 'raleway', sans-serif;
$Raleway-EB: 'Raleway-EB';
$Raleway-Regular: 'Raleway-Regular';
$Raleway-Thin: 'Raleway-Thin';
$Raleway-SemiBold: 'Raleway-SemiBold';
$Raleway-Bold: 'Raleway-Bold';
$Raleway-Light: 'Raleway-Light';
$FontAwesome: 'FontAwesome';
$Fira-Sans: 'Fira Sans';

$accent: #f9c866;
$blue: #66c8ce;
$red: #f86868;
$dark: #1a1a1a;