.text-center {
    text-align: center;
}

.s-review {
    padding: 100px 0;
    .h2 {
        font-family: $Raleway-EB;
        font-size: 30px;
        .span-desc {
            color: #F9C869;
        }
}
}