mixin s-review()
    section.s-review.inverse.section-overlay(style="background-image: url('/img/bg-2.jpg')")
        div.container
            div.row
                div.col-sm-12
                    h2.h2.text-center
                        | Отзывы 
                        span.span-desc
                            | наших клиентов
                div.col-sm-8.justify-content-center
                    div.quotes
                    div.owl-carousel.review
                        div.review
                            div.review-header
                                | Оксана
                            div.review-date
                                | 29.07.2019 (Стрижка)
                            div.review-stars
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                            div.review-text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ex exercitationem, harum illum atque libero consequatur, laborum, accusamus nostrum at natus iure. In cum tempora, deleniti expedita rerum sit. Aut sed numquam dolorem eius maiores maxime laboriosam incidunt ipsam aspernatur.
                        
                        div.review
                            div.review-header
                                | Петр
                            div.review-date
                                | 23.01.2019 (Стрижка)
                            div.review-stars
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                            div.review-text
                                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. At sed illo, sit ut, consectetur eveniet suscipit illum quidem quia eum, provident perferendis ex repellendus.
                        
                        div.review
                            div.review-header
                                | Василиса
                            div.review-date
                                | 19.03.2019 (Маникюр)
                            div.review-stars
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                                i.icon.icofont-star
                            div.review-text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla inventore quaerat porro non. Possimus?