mixin main-footer()
    div.main-footer
        div.container
            div.row
                div.col-xl-2.col-lg-3.col-sm-6
                    div.footer-column
                        div.b-soclial
                            a(href="#")
                                img.logo-footer(src="img/svg/logo-1.svg#logo-1", alt="Смитлер салон красоты")
                            p.salog-sign
                                | Салон красоты
                                br
                                | бизнес-класса в Москве
                            nav.social
                                ul
                                    li
                                        a(href="#")
                                            i.icofont-facebook
                                    li
                                        a(href="#")
                                            i.icofont-instagram
                                    li
                                        a(href="#")
                                            i.icofont-vk
                div.col-xl-3.col-lg-5.col-sm-6
                    div.footer-column
                        div.footer-menu
                            ul
                                li.active
                                    a(href="#")
                                        |   Парикмахерский сервис
                                li
                                    a(href="#")
                                        |   Косметологический сервис
                                li
                                    a(href="#")
                                        |   Маникюрный сервис
                                li
                                    a(href="#")
                                        |   Массаж и SPA
                                li
                                    a(href="#")
                                        |   Солярий
                                li
                                    a(href="#")
                                        |   Наши специиалисты
                div.col-xl-3.col-lg-4.col-sm-6
                    div.footer-column
                        div.footer-addr
                            p
                                i.icon.icofont-location-arrow
                                |   г. Москва, ул. Ивана Бабушкина, 22с1, м. Профсоюзная
                        div.footer-addr
                            p
                                i.icon.icofont-clock-time
                                |   Время работы: ежедневно,
                                br
                                |   10:00 - 22:00
                        div.footer-phone
                            p
                                i.icon.icofont-ui-touch-phone
                                |   +7 (495) 118-94-35
                div.col-xl-4.col-lg-12.col-sm-6
                    div.footer-column
                        script.map(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A57f12b40da1e5d1498164a9a532b3a8d44472d705b4f7525ec1a1429baa5144e&amp;width=100%&amp;height=200&amp;lang=ru_RU&amp;scroll=true")