@import "helpers/variables";
@import "helpers/media";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/my-page/my-page.scss";

body {
  font-family: $def-font;
  min-width: 320px;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: #ffffff;
  background-color: #333;
}

section, header {
  position: relative;
  background-size: cover;
  background-position: center;
}

section {
  background: #ffffff;
}