mixin s-partners()
    section.s-partners.section-overlay(style="background-image:url('img/bg-3.jpg')")
        div.container
            div.row.justify-content-center
                div.col-sm-12
                    h2.h2.text-center
                        | Наши партнеры
                div.col-sm-10.col-8
                    div.owl-carousel.partners
                        div.partner
                            img(src="img/partners/brend1.png", alt="Macadama")
                        div.partner
                            img(src="img/partners/brend2.png", alt="Sexyhair")
                        div.partner
                            img(src="img/partners/brend3.png", alt="RevitaLash")
                        div.partner
                            img(src="img/partners/brend4.png", alt="ElizabethArden PRO")