include s-king/s-king.pug
include s-call/s-call.pug
include s-review/s-review.pug
include s-partners/s-partners.pug
mixin my-content()
  div#my-content
    section.s-services
      div.owl-carousel.carousel-services
        div.carousel-services-item
          div.carousel-services-content
            div.carousel-services-composition
              div.carousel-logo
                img(src="img/svg/logo-2.svg#logo-2.svg", width='100', alt="Смитлер - салон красоты")
              h3.h3
                | Косметалогический сервис  
              ul.carousel-services-list
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 8500 &#8381;
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 8500 &#8381;
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 8500 &#8381;
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 8500 &#8381;
              a.button.button__white(href="#")
                | Список услуг
          div.carousel-services-image(style="background-image:url('img/service.png')")
        div.carousel-services-item
          div.carousel-services-content
            div.carousel-services-composition
              div.carousel-logo
                img(src="img/svg/logo-2.svg#logo-2.svg", width='100', alt="Смитлер - салон красоты")
              h3.h3
                | Парикмахерский сервис
              ul.carousel-services-list
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 8600 &#8381;
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 2500 &#8381;
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 7500 &#8381;
              a.button.button__white(href="#")
                | Список услуг
          div.carousel-services-image(style="background-image:url('img/service2.png')")
        div.carousel-services-item
          div.carousel-services-content
            div.carousel-services-composition
              div.carousel-logo
                img(src="img/svg/logo-2.svg#logo-2.svg", width='100', alt="Смитлер - салон красоты")
              h3.h3
                | Манекюрный сервис  
              ul.carousel-services-list
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 4400 &#8381;
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 2200 &#8381;
                li 
                  | Ключевая услуга #1 - 
                  strong
                    | 8200 &#8381;
              a.button.button__white(href="#")
                | Список услуг
          div.carousel-services-image(style="background-image:url('img/service3.png')")
    +s-king
    +s-call
    +s-review
    +s-partners