mixin my-content()
  div#my-content
    section.s-services
      div.owl-carousel
        div.carousel-serivices-item
          | Lorem ipsum dolor sit amet 
        div.carousel-serivices-item
          | Lorem ipsum dolor sit amet
        div.carousel-serivices-item
          | Lorem ipsum dolor sit amet