.owl-nav { 
    display: block !important
}


$colors: $blue, $red, $accent;
@for $i from 1 through length($colors) {
    .carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i}) {
        background-color: nth($colors, $i); }
    }

.carousel-services {
    background-color: $dark;
    &-image {
        background-size: cover;
        background-position: center;
        opacity: .8;
        transition: opacity .5s ease;
        min-height: 472px;
    }
    &-content {
        display: flex;
        justify-content: center;
        padding: 40px 10% 40px;
    }
    &-composition {
        width: 100%; 
        text-align: center;
    }
    .h3 {
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 800;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 32px;
        text-align: center;
        span {
            font-weight: 300;
            font-size: 18px;
            display: block;
        }
    }
}

.carousel-services-item:hover .carousel-services-image {
    opacity: 1;
    width: 100%;
}

.owl-item:nth-child(2n+2) {
    .carousel-services-item {
        flex-direction: column;
    }
}

.carousel-services-item {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.owl-carousel {
    .owl-item {
        backface-visibility: inherit;
    }
}

.owl-carousel .owl-item img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.carousel-services-list {
    list-style: none;
    margin-bottom: 30px;
    strong {
        font-family: 'Fira Sans';
        color: #4A4A4A;
        }
    & li {
        font-family: $Raleway-Regular;
        font-size: 18px;
        text-transform: none;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(#000000, .12);
        &:last-child {
            border-bottom: none;
        }
    }
}