mixin my-header()
  div#my-header
    header.site-header(style="background-image: url('img/top-bg.jpg')")
      div.top-line
        a.logo(href="#")
          img.logo-img(src="img/svg/logo-1.svg#logo-1", alt="logo")
        div.phone
          i.icon.icofont-ui-touch-phone
          | +7 (495) 118-94-35
        a.hamburger.hamburger--emphatic(href="#my-menu")
          span.hamburger-box
            span.hamburger-inner
        nav#my-menu
          ul
            li
              a(href="#")
                | Парикмахерский сервис
            li.active
              a(href="#")
                | Косметологический сервис
            li
              a(href="#")
                | Маникюрный сервис
            li
              a(href="#")
                | Массаж и SPA
            li
              a(href="#")
                | Солярий
            li
              a(href="#")
                | Наши специалисты
            li
              a(href="#")
                | Новости test
            li
              a(href="#")
                | Прайс-лист
            li
              a(href="#")
                | Наши сертификаты
            li
              a(href="#")
                | О Салоне
      div.header-flex
        div.flex-center
          div.container
            div.row
              div.col-sm-7.col-md-8.col-sm-12
                div.header-composition
                  div.welcome
                    p
                      span
                        | Добро пожаловать в профессиональный
                    h1.h1
                      | Салон красоты
                    strong.city
                      i.icon.icofont-star
                      | В МОCКВЕ
                      i.icon.icofont-star
                  p.about-saloon
                    span
                      | S&Mitler
                    |  – это салон красоты бизнес-класса. Мастера салона дарят посетителям уверенность в себе и индивидуальный стиль. Здесь представлены все самые востребованные услуги бьюти-индустрии. 
                  a.button(href="#")
                    | О Салоне
        div.header-social
          nav.social
            ul
              li
                a(href="#")
                  i.icofont-facebook
              li
                a(href="#")
                  i.icofont-instagram
              li
                a(href="#")
                  i.icofont-vk
      div.container-contacts
        div.container
          div.row
            div.col-xl-4.col-lg-6.col-md-12.col-sm-12
              i.icon.icofont-location-arrow
              | г. Москва, ул. Ивана Бабушкина, 22с1
            div.col-xl-4.col-lg-6.col-md-12.col-sm-12
              div.phone-h
                i.icon.icofont-ui-touch-phone
                | +7 (495) 118-94-35
            div.col-xl-4.d-none.d-xl-block
              i.icon.icofont-clock-time
              | Время работы: ежедневно, 10:00 - 22:00
