mixin my-header()
  div#my-header
    header.site-header(style="background-image: url('img/top-bg.jpg')")
      div.top-line
        a.logo(href="#")
          img.logo-img(src="img/svg/logo-1.svg#logo-1", alt="logo")
        div.phone
          i.icon.icofont-iphone
          | +7 (495) 118-94-35
        a.hamburger.hamburger--emphatic(href="#my-menu")
          span.hamburger-box
            span.hamburger-inner
        nav#my-menu
          ul
            li
              a(href="#")
                | Парикмахерский сервис
            li.active
              a(href="#")
                | Косметологический сервис
            li
              a(href="#")
                | Маникюрный сервис
            li
              a(href="#")
                | Массаж и SPA
            li
              a(href="#")
                | Солярий
            li
              a(href="#")
                | Наши специалисты
            li
              a(href="#")
                | Новости test
            li
              a(href="#")
                | Прайс-лист
            li
              a(href="#")
                | Наши сертификаты
            li
              a(href="#")
                | О Салоне
