mixin my-header()
  div#my-header
    header.site-header(style="background-image: url('img/top-bg.jpg')")
      div.top-line
        a.logo(href="#")
          img.logo-img(src="img/svg/logo-1.svg#logo-1", alt="logo")
        div.phone
          i.icon.icofont-star
          i.icofont-clock-time
          i.icofont-location-arrow