.site-header {
  min-height: 700px;
  height: 100vh;
  background-color: $dark;
}

.top-line {
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.logo-img {
  width: 125px;
  height: auto;
  margin-left: 45px;
}

.phone {
  position: absolute;
  right: 85px;
  top: 44px;
  font-family: $Fira-Sans;
  font-size: 22px;
  white-space: nowrap;
}

.icon {
  color: #555;
  font-size: 22px;
  margin-right: 3px;
}

.hamburger {
  position: absolute;
  right: 0;
  top: 35px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  border-radius: 0px;
  background-color: #fff;
  width: 34px;
  height: 2px;
}