.site-header {
  min-height: 700px;
  height: 100vh;
  background-color: $dark;
}

.top-line {
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.logo-img {
  width: 125px;
  height: auto;
  margin-left: 45px;
}

.phone {
  position: absolute;
  right: 85px;
  top: 44px;
  font-family: $Fira-Sans;
  font-size: 22px;
  white-space: nowrap;
}

.icon {
  color: #555;
  font-size: 22px;
  margin-right: 3px;
}

.hamburger {
  position: absolute;
  right: -6px;
  top: 35px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  border-radius: 0px;
  background-color: #fff;
  width: 34px;
  height: 2px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}

.mm-navbars_top .mm-navbar img {
  width: 128px;
  height: auto;
  display: block;
}

.mm-navbars_bottom,
.mm-navbars_top {
  position: static;
}

.mm-navbars_top {
  border: none;
}

.mm-navbar {
  position: static;
  margin: 35px 0;
  justify-content: center;
}

.mm-panels,
.mm-panels>.mm-panel {
  position: static;
}

.mm-navbars_bottom>.mm-navbar> :not(img):not(.mm-btn),
.mm-navbars_top>.mm-navbar> :not(img):not(.mm-btn) {
  flex: none;
}

.mm-listitem:after {
  border: none;
}

.mm-listitem_selected {
  color: $accent;
}

.mm-listitem_selected>.mm-listitem__text {
  background-color: #333333;
}

.mm-listitem__text {
  font-size: 16px;
}

.mm-listitem {
  padding: 8px 2% 0 14%;
}

.mm-listitem:hover {
  color: $accent;
  transition: color .25s ease;
}

.mm-listitem__text::before {
  content: '\ef01';
  font-family: "IcoFont";
  margin-right: 8px;
  text-decoration: none;
}

.mm-listitem__text::after {
  content: '\ef01';
  font-family: "IcoFont";
  margin-left: 8px;
  text-decoration: none;
}

.city .icon {
  font-size: 16px;
  margin-right: 10px;
  color: #555;
  &:last-child {
    margin-left: 10px;
    margin-right: inherit;
  }
}

.header-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  top: 0;
}

.flex-center {
  margin: auto;
}

.header-composition {
  text-align: center;
  position: relative;
  .button {
    margin-top: 25px;
  }
}

.welcome strong {
  margin-top: 25px;
  display: block;
 }

.welcome p {
 margin-top: 40px;
 font-size: 14px;
 text-transform: uppercase;
 display: flex;
 align-items: center;
 white-space: nowrap;
 margin-bottom: 0;
}

.about-saloon {
  font-size: 16px;
  span {
    font-weight: bold;
  }
}

.welcome p span {
  margin: 0 10px;
}

.welcome p:before,
.welcome p:after {
  content: '';
  height: 1px;
  width: 100%;
  position: relative;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
}

.welcome {
  h1 {
    font-weight: 100;
    font-size: 70px;
    line-height: 1.6;
    border-bottom: 1px solid #fff;
    white-space: nowrap;

  }
}

.header-social {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: 100%;
  border-left: rgba(#fff, .1) 1px solid;
  padding: 0 12.5px;
}

.social {
  margin: auto;
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #2c2c2c;
    font-size: 17px;
    display: block;
    background-color: rgba(#fff, .2);
    width: 38px;
    height: 38px;
    text-align: center;
    align-items: center;
    margin: 18px 0;
    line-height: 38px;
    border-radius: 10em;
    transition:background-color .25s ease;
    &:hover {
      background-color: rgba(#fff, .4)
    }
}
}

.container-contacts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: rgba(#fff, .1) 1px solid;
  padding: 12px 0;
  background-color: rgba(#151515, .15);
  .icon {
    margin-right: 5px;
    font-size: 16px;
    color: #555;
  }
}

.phone-h {
  font-family: $Fira-Sans, sans-serif;
  text-align: center;
}