@font-face {
	font-family: "icons";
	src: url('./icons.eot');
	src: url('./icons.eot?#iefix') format('eot'),
		url('./icons.woff2') format('woff2'),
		url('./icons.woff') format('woff'),
		url('./icons.ttf') format('truetype'),
		url('./icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-clock-time:before {
	content: "\E001";
}

.icon-diamond:before {
	content: "\E002";
}

.icon-double-left:before {
	content: "\E003";
}

.icon-double-right:before {
	content: "\E004";
}

.icon-facebook:before {
	content: "\E005";
}

.icon-instagram:before {
	content: "\E006";
}

.icon-location-arrow:before {
	content: "\E007";
}

.icon-rounded-down:before {
	content: "\E008";
}

.icon-rounded-left:before {
	content: "\E009";
}

.icon-rounded-right:before {
	content: "\E00A";
}

.icon-rounded-up:before {
	content: "\E00B";
}

.icon-star:before {
	content: "\E00C";
}

.icon-ui-touch-phone:before {
	content: "\E00D";
}

.icon-vk:before {
	content: "\E00E";
}
